#sort-category-page {
	float: left;
}


#sort-category-table {
	float: right;
	width: 10em;
}

#sort-category-table .oo-ui-iconElement-icon {
}

#sort-category-table .oo-ui-iconElement-icon::before {
	font-family: 'steep-icons';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	display: inline-block;
	content:'\0056';
	margin-top: 3px;
	color: #666;
}

#sort-category-table .oo-ui-labelElement-label {
    margin-left: 3em;
}

#sort-category-table .oo-ui-labelElement-label:after {
    margin-left: 1em;
    color: 08b030;
}

#sort-category-table .oo-ui-labelElement-label.ascending:after {
}


.category-contents {
    width: 100%;
	clear: both;
	margin: 2em 0;
}

.category-contents td {
	border-bottom: 1px solid #ccc;
	padding: 10px 5px;
}

.category-contents td a {
	color: #333;
}

.category-contents td.expand {
    width: 99%;
}

.category-contents td.last-change {
	white-space: nowrap;
}

.category-contents td.type::after {
	font-family: 'steep-icons';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #c2813c;
}

.category-contents td.type.Page:after {
	content:'\004D';
}

.category-contents td.type.Project:after {
    content:'\0071';
	color: #1eb04d;
}

.category-contents td.type.Category:after {
    content:'\004B';
}

.category-contents td.type.File:after {
    content:'\004B';
}

.category-contents td.type.process-models:after {
    content:'\0049';
}

.category-contents td.type.maps:after {
    content:'\0048';
}

.category-contents td.type.shape-layers:after {
    content:'\0071';
}

.title-column .search-snippet {
    color: grey;
}

.title-column .search-snippet:before {
    content: '/';
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.watched-status {
}

.watched-status.watched:after {
	font-family: 'steep-icons';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	content: '\0033';
	color: #999;
}

.last-change {
    text-align: right;
}

.pagination a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.pagination span {
    display: inline-block;
    padding: 1em;
}
