#sort-category-table .oo-ui-iconElement-icon {
    background-color: pink;
}

#sort-category-table .oo-ui-iconElement-icon:before {
    content: "Desc";
    position: relative;
    top: -0.2em;
}

#sort-category-table .oo-ui-iconElement-icon:after {
    content: "Asc";
    position: relative;
    top: 0.8em;
    left: -2em;
}

#sort-category-table .oo-ui-labelElement-label {
    margin-left: 3em;
}

#sort-category-table .oo-ui-labelElement-label:after {
    margin-left: 1em;
    color: green;
}

#sort-category-table .oo-ui-labelElement-label.ascending:after {
    content: "asc";
}

#sort-category-table .oo-ui-labelElement-label.descending:after {
    content: "desc";
}

.category-contents {
    width: 100%;
}

.category-contents td.expand {
    width: 99%;
}

.category-contents td {
    white-space: nowrap;
}

.type.Page:after {
    content: "Page";
}

/*
A Project is a sub-type of Category which also belongs to Category:Projects.
 */
.type.Project:after {
    content: "Project";
}

.type.Category:after {
    content: "Category";
}

.type.File:after {
    content: "File";
}

.type.process-model {
    content: "Process Model";
}

.type.map {
    content: "Map";
}

.title-column .search-snippet {
    color: grey;
}

.title-column .search-snippet:before {
    content: '/';
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.watched-status {
}

.watched-status.watched:after {
    content: 'W';
    font-weight: bold;
    text-align: center;
}

.last-change {
    text-align: right;
}

.pagination a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.pagination span {
    display: inline-block;
    padding: 1em;
}
