.content-actions {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5em;
    right: 2em;

    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;

    /* Cross-browser disable text selection. */
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.clutter .content-actions {
    opacity: 1;
    pointer-events: all;
}

.ve-activating .content-actions, .ve-active .content-actions, .ve-activated .content-actions {
    opacity: 0;
    pointer-events: none;
}

.content-action {
    display: inline-block;
    vertical-align: top;
	margin-left: 1em;
}

.content-submenu {
    display: inline-block;
    overflow: hidden;
	margin-left: 1em;
}

.content-submenu-expander {
    background-color: white;
    cursor: default;
	text-indent: -5000px;
}

.content-submenu-wrapper {
    overflow: hidden;
}

.content-submenu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    transform: translateY(-110%);
    transition: transform 1s;
}

.content-submenu:hover .content-submenu-list {
    transform: none;
}

.content-submenu-list .content-action {
    display: block;
}

a.content-action-link {
    display: block;
    text-decoration: none;
    color: #ababab;
}

a.content-action-link::after,
.content-submenu-expander::before {
	font-family: 'steep-icons';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	text-indent: 0;
}

.content-submenu-expander::before {
	content: '\006D';
	display: block;
    color: #ababab;
}


.content-action-link.selected {
    color: black;
    pointer-events: none;
}

.content-action-link:hover {
    color: #08b030;
}

#ca-talk a:after {
    content: "\0055";
}

#ca-ve-edit a:after {
    content: "\0057";
}

#ca-history a:after {
    content: "\0062";
}

#ca-watch a:after {
    content: "\0072";
}

#ca-unwatch a:after {
    content: "\0072";
}

#ca-delete a:after {
    content: "\0053";
}

#ca-move a:after {
    content: "\0063";
}

#ca-protect a:after {
    content: "\0070";
}

#ca-purge a:after {
    content: "\0073";
}

.back-to-page {
    text-decoration: none;
    color: #999;
    position: absolute;
    top: 2em;
    right: 1em;
	white-space: nowrap;
	line-height: 30px;
}

.back-to-page::after {
	font-family: 'steep-icons';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	content: '\0050';
	padding-left: 10px;
}

.back-to-page:hover {
	color: #333;
}
