#first-heading {
    vertical-align: bottom;
    margin: 1em 0 0.5em 0;
    border-bottom: 1px solid #999;
    width: 100%;
}

#content h1,
#content h2,
#content h3 {
	font-weight: normal;
	font-family: 'fira_sanssemibold';
}

.patrollink {
    display: none;
}

#content {
    transition: margin-left 0.3s;
    transition: width 0.3s;
    width: 80%;
    margin: auto;
}

.mw-body-content a {
	color: #08b030;
	font-family: 'fira_sansregular';
}

.clutter #content {
    width: auto;
}

.clutter #content.shrunk {
    margin-left: 13em;
}


ul#preftoc { 
	list-style-type: none;
	padding: 0 0 0.5em 0;
	margin: 1em 0 1em 0;
	border-bottom: 1px solid #999;
	overflow: hidden;
}

ul#preftoc li { 
	float: left;
}

ul#preftoc li + li { 
	margin-left: 1em;
}

ul#preftoc li a { 
	color: #282828;
	text-decoration: none;
}

ul#preftoc li.selected a { 
	color: #08b030;
}
