.navbar {
    background-color: #282828;
}

.navbar a {
    display:block;    
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    color: #08b030;
}

.nav-image-link,
.nav-icon-link {
    padding: 1.25em 2em;    
    color: white;
    white-space: nowrap;
}

.nav-image-link img {
    /* max-width of navbar - (2 * horizontal padding) */
    max-width: 9rem;
}

.nav-icon-link::before {
    font-family: 'steep-icons';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

.nav-icon-link.all-projects::before {
    content:'\0071';
    color: #1eb04d;
}

.nav-icon-link.new-process-model::before {
    content:'\006B';
    color: #92cdef;
}

.nav-icon-link.new-map::before {
    content:'\0069';
    color: #50b685;
}

.nav-icon-link.add-assets::before {
    content:'\0042';
    color: #d9e0ad;
}

.nav-icon-link.manage-assets::before {
    content:'\0043';
    color: #c2813c;
}

.nav-icon-link.manage-users::before {
    content:'\0032';
    color: #107728;
}

.nav-icon-link.about::before {
    content:'\0041';
    color: #666;
}

.nav-text-link {
    padding: 0.2em;
    color: #999999;
    font-size: 0.9em;
}

#n-Index::before {
    content: '\0071';
    /* color: #08b030; */
}