@media print {

    .left {
	display: none;
    }

    .bottom {
	display: none;
    }

    .top {
	display: block !important;
	width: 80%;
	margin: auto;
    }

    .user-tools {
	display: none;
    }

    .content-actions {
	display: none;
    }
}