html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
	background-color: white;
}

.container {
    min-height: 100%;
    display: table;
    margin-left: -13em;
    transition: margin-left 0.3s;
}

.container.clutter {
    margin-left: 0;
}

.top {
    display: table-row;
    height: 100%;
}

.bottom {
    display: table-row;    
}

.left {
    width: 15em;
    display: table-cell;
}

.bottom .left {
    padding-bottom: 2em;
}

/*
Everything other than the navbar.
 */
.right {
    width: 100%;
    display: table-cell;
    padding: 0 2em 2em 2em;    
}

.top .right {
    vertical-align: top;
}

.bottom .right {
    vertical-align: bottom;
}

.bottom .last-modified {
	font-size: 0.85em;
    color: #666;
}

.left.hidden {
    margin-left: -15em;
}

.eu-logo {
    /* See http://eacea.ec.europa.eu/about/logos/eu-emblem-rules-hr.pdf */    
    margin-top: 1em;
    width: 100%;
    position:relative;
}

.eu-logo .eu-funding {
    width: 75%;
    font-family: Calibri, Arial, Garamond, Trebuchet, Tahoma or Verdana;
    display: inline-block;
}

.eu-logo img {
    margin-left: 10%;
    width: 15%;
    min-height: 1cm;
    display: inline-block;
}
