html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
	background-color: white;
}

.container {
    min-height: 100%;
    display: table;
    margin-left: -13em;
    transition: margin-left 0.3s;
}

.container.clutter {
    margin-left: 0;
}

.top {
    display: table-row;
    height: 100%;
}

.bottom {
    display: table-row;    
}

.left {
    width: 15em;
    display: table-cell;
}

.bottom .left {
    padding-bottom: 2em;
}

/*
Everything other than the navbar.
 */
.right {
    width: 100%;
    display: table-cell;
    padding: 0 2em 2em 2em;    
}

.right {
    padding-left: 10%;
    padding-right: 10%;
    transition: padding 0.3s;
}

.clutter .right {
    padding-left: 5em;
    padding-right: 5em;
}

.contains-contents.clutter .right {
    padding-left: 15em;
    padding-right: 15em;
}

.top .right {
    vertical-align: top;
}

.bottom .right {
    vertical-align: bottom;
}

.bottom .last-modified {
    font-size: 0.85em;
    color: #666;
}

.left.hidden {
    margin-left: -15em;
}

/* See the Bristol Green Capital 2015 Official Sponsor Good Use Guide */
.bristol-green-capital-branding {
    float:right;
}

.bristol-green-capital-official-supplier {
    font-family: Museo Sans, Neutraface, Helvetica;
    font-weight: bold;
    color: #240078;
    text-align: center;
}

.bristol-green-capital-logos {
    margin-bottom: 0.5em;
}

.bristol-green-capital-logos img {
    height: 4em;
    display: inline-block;
}

.logo-separator {
    height: 2.5em;
    vertical-align: top;
    margin-top: 0.75em;
    /* We use padding on the left and margin on the right so that border-right goes in the middle. */
    padding-left: 0.75em;
    margin-right: 0.75em;
    border-right: 1px solid #240078;
    display: inline-block;

}
