/*
We would like the table of contents to display as a table.

However, Mediawiki renders it as nested lists, so this css is quite complicated.
*/

@media screen {
    #toc {
	position: absolute;
	left: 0;
	top: 2rem;
	opacity: 1.0;
	transition-property: left, opacity;
	transition-duration: 0.3s;
	overflow-x: hidden;
    }

    #toc.tochidden {
	left: -13rem;
	opacity: 0;
	pointer-events: none;
    }

    .toctext {
	max-width: 10em;
    }

    #toc > ul {
	width: 11em;
	transition: opacity 0.3s;
    }
}

@media print {
    #toc {
	width: 100%;
	border: none;
    }
    
    #toc ul {
	padding-left: 0;
    }
}

@media all {
    #toc {
	background-color: white;
    }
    
    .tochidden > ul {
	opacity: 0;    
    }

    #toctitle h2 {
	font-size: 1.2em;
	text-align: left;
	padding: 0;
	transition: opacity 0.3s;
	font-family: 'fira_sansregular';
	color: #666;
    }

    .tochidden #toctitle h2 {
	opacity: 0;
    }

    #toc ul {
	list-style-type: none;
	margin: 0 !important;
    }

    #toc ul a {
	color: #666;
	text-decoration: none;
	display: table-row;
    }

    .tocnumber {
	width: 2em;
	vertical-align: top;
	display: table-cell;
	padding-right: 0.3em;
    }

    .toctext {
	display: table-cell;
    }

    .toctoggle {
	display: none;
    }
}