/*
We would like the table of contents to display as a table.

However, Mediawiki renders it as nested lists, so this css is quite complicated.
*/
#table-of-contents {
    background-color: white;
    position: fixed;
    left: 15em;
    top: 8em;
    transition-property: left, top;
    transition-duration: 0.3s;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -1;
}

#table-of-contents.tochidden {
    left: 2em;
    top: 2em;
    overflow-y: hidden;
    width: 4em;
}

#table-of-contents > ul {
    width: 12em;
    transition: opacity 0.3s;
}

.tochidden > ul {
    opacity: 0;    
}

#toctitle h2 {
    font-size: 1.2em;
    text-align: left;
    padding: 0;
    transition: opacity 0.3s;
    font-family: 'fira_sansregular';
    color: #666;
}

.tochidden #toctitle h2 {
    opacity: 0;
}

#table-of-contents ul {
    list-style-type: none;
    margin: 0 !important;
}

#table-of-contents ul a {
    color: #666;
    text-decoration: none;
}

.tocnumber {
    width: 2em;
    display: inline-block;
    vertical-align: top;
}

.toctext {
    max-width: 10em;
    display: inline-block;
}
