#first-heading {
    vertical-align: bottom;
    margin: 1em 0 0.2em 0;
    border-bottom: 1px solid grey;
    wdith: 100%;
}

.patrollink {
    display: none;
}

#content {
    transition: margin-left 0.3s;
    width: 80%;
    margin: auto;
}

#content.shrunk {
    width: auto;
    margin-left: 12em;
}