/*
We would like the table of contents to display as a table.

However, Mediawiki renders it as nested lists, so this css is quite complicated.
 */
#toc {
    background-color: white;
    position: relative;
    left: -13em;
    top: -4em;
    width: 0;
    height: 0;
}

#toc > ul {
    width: 13em;
    transition: opacity 0.3s;
}

.tochidden > ul {
    opacity: 0;    
}

#toctitle h2 {
    font-weight: bold;
    font-size: large;
    color: grey;
    text-align: left;
    padding: 0;
    margin-top: 2em;

    transition: opacity 0.3s;
}

.tochidden #toctitle h2 {
    opacity: 0;
}

.toctoggle {
    color: transparent;
    position: relative;
    width: 0;
    height: 0;
    left: 0em;
    top: -4em;

    transition: left 0.3s;
}

.toctoggle {
    background-color: grey;
}

.tochidden .toctoggle {
    left: 3em;
    background-color: black;
}

.tochidden .toctoggle a {
    color: white;
}

#toc ul {
    list-style-type: none;
    margin: 0 !important;
}

#toc ul a {
    color: grey;
    text-decoration: none;
    font-weight: bold;
}

.tocnumber {
    width: 2em;
    display: inline-block;
    vertical-align: top;
}

.toctext {
    max-width: 10em;
    display: inline-block;
}
